* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;

  
}
body{
    background: linear-gradient( to right bottom, rgba(13, 4, 49, 0.752), rgba(38, 7, 49, 0.781) ), url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-size: cover;
    height: 100vh;
    color: #f4be2c;
}

.navbar{
    display:flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.navbar .list{
    list-style: none;
    display: flex;
}

.list-item{
    padding: 1.5rem;
    color: yellow;
}

.button-small{
    color: white;
    background-color: #EB4D4B;
    height: 2.5rem;
    width: 7rem;
    margin-top: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 800;
}

button.button-large{
    color: white;
    background-color: #EB4D4B;
    padding: 1rem;
    font-size: 1.4rem;
    margin-left: 46%;
    margin-top: 2%;
    border: none;
}

.hero-heading{
    padding-left: 21rem;
    text-align: center;
    /* justify-content: center; */
    font-size: 66px;
    /* padding: 8rem; */
    padding-top: 5rem;
    padding-right: 21rem;
    position: relative;
    color: yellow;
}

.bottom img {

    justify-content: end;
    margin-left: 90%;
    height: 8rem;
}